interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Write me a song about goldfish
      on the moon"}], "llm_providers": [{"provider": "openai", "model": "gpt-4-0613",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}], "metric": "accuracy", "max_model_depth": 1, "hash_content":
      true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"openai","model":"gpt-4-0613"}],"session_id":"3ee7ac88-245d-4fe1-a5c9-68508bdeb6ee"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - e8f97ad4-125c-42af
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
