interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Write me a song about goldfish
      on the moon"}], "llm_providers": [{"provider": "openai", "model": "gpt-3.5-turbo",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "openai", "model": "gpt-4", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "anthropic", "model": "claude-2.1", "is_custom": false,
      "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "google", "model": "gemini-pro", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}], "metric":
      "accuracy", "max_model_depth": 4, "hash_content": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"openai","model":"gpt-4"}],"session_id":"a24d7e90-a05f-42d4-80af-a42ce79a90f1"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - dc9621c4-b1a7-470c
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
