interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Write me a song about goldfish
      on the moon"}], "llm_providers": [{"provider": "openai", "model": "gpt-3.5-turbo",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "openai", "model": "gpt-4", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "anthropic", "model": "claude-haiku-4-5-20251001", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "google", "model": "gemini-2.5-pro", "is_custom": false,
      "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 4, "hash_content": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"google","model":"gemini-2.5-pro"}],"session_id":"79a85558-dc34-4cef-98e0-170f7c7a4591"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 0521f47e-24f7-4e25
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
