interactions:
- request:
    body: '{"messages": [{"role": "system", "content": "You are a world class software
      developer."}, {"role": "user", "content": "Write a merge sort in Python"}],
      "llm_providers": [{"provider": "openai", "model": "gpt-3.5-turbo", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "openai", "model": "gpt-4", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}, {"provider":
      "openai", "model": "gpt-4-1106-preview", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}, {"provider":
      "openai", "model": "gpt-4-turbo-preview", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}, {"provider":
      "anthropic", "model": "claude-3-haiku-20240307", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}, {"provider":
      "anthropic", "model": "claude-3-sonnet-20240229", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}, {"provider":
      "anthropic", "model": "claude-3-opus-20240229", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}], "metric":
      "accuracy", "max_model_depth": 7, "hash_content": false, "tradeoff": "cost"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"openai","model":"gpt-4-1106-preview"}],"session_id":"171b42ed-8cef-4d7f-920f-36d0247d2c7f"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - b41f24dd-77c1-47ee
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
