interactions:
- request:
    body: '{"messages": "You are a world class software developer. Write a merge sort
      in Python.", "llm_providers": [{"provider": "openai", "model": "gpt-3.5-turbo",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}], "metric": "accuracy", "max_model_depth": 1, "hash_content":
      false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"Messages format invalid."}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 149da980-870a-4ae9
      x-render-origin-server:
      - uvicorn
    status:
      code: 400
      message: Bad Request
version: 1
