interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Hello, what''s your name?"}],
      "llm_providers": [{"provider": "openai", "model": "gpt-4-turbo-preview", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "openai", "model": "gpt-3.5-turbo", "is_custom": false,
      "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 2, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"openai","model":"gpt-3.5-turbo"}],"session_id":"9ab86e49-0ea7-4058-add6-10a5062da163"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 8e967e41-eab2-46f6
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
