interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Test prompt"}], "llm_providers":
      [{"provider": "togetherai", "model": "Mixtral-8x22B-Instruct-v0.1", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 1, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"requestID=b6a7ffcb-f95e-4c7c, Could not find valid API key"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - b6a7ffcb-f95e-4c7c
      x-render-origin-server:
      - uvicorn
    status:
      code: 401
      message: Unauthorized
version: 1
