interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Test prompt"}], "llm_providers":
      [{"provider": "togetherai", "model": "Mistral-7B-Instruct-v0.2", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 1, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"requestID=19632a03-636a-4c28, Could not find valid API key"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 19632a03-636a-4c28
      x-render-origin-server:
      - uvicorn
    status:
      code: 401
      message: Unauthorized
version: 1
