interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Test prompt"}], "llm_providers":
      [{"provider": "openai", "model": "gpt-4-0613", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}], "metric":
      "accuracy", "max_model_depth": 1, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"requestID=b8d88ad3-9b2f-4b0e, Could not find valid API key"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - b8d88ad3-9b2f-4b0e
      x-render-origin-server:
      - uvicorn
    status:
      code: 401
      message: Unauthorized
version: 1
