interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Test prompt"}], "llm_providers":
      [{"provider": "cohere", "model": "command-r-plus", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}], "metric":
      "accuracy", "max_model_depth": 1, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"requestID=5ddfef53-5588-4818, Could not find valid API key"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 5ddfef53-5588-4818
      x-render-origin-server:
      - uvicorn
    status:
      code: 401
      message: Unauthorized
version: 1
