interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Test prompt"}], "llm_providers":
      [{"provider": "google", "model": "gemini-1.5-flash-latest", "is_custom": false,
      "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 1, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"requestID=a64972ee-d870-493e, Could not find valid API key"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - a64972ee-d870-493e
      x-render-origin-server:
      - uvicorn
    status:
      code: 401
      message: Unauthorized
version: 1
