interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Test prompt"}], "llm_providers":
      [{"provider": "mistral", "model": "open-mixtral-8x22b", "is_custom": false,
      "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 1, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://staging-api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"detail":"Could not find valid API key"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - a088e80f-1611-4d8d
      x-render-origin-server:
      - uvicorn
    status:
      code: 401
      message: Unauthorized
version: 1
